<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="NexusDCD" value="https://nexus.gen.dcd.shared.geniussports.com/repository/nuget-group/index.json" />
    <add key="Nexus" value="http://nuget.geniussports.net/NugetWebFeed/nuget" />
    <add key="gitlab" value="https://gitlab.betgenius.net/api/v4/projects/5493/packages/nuget/index.json" />
  </packageSources>

  <disabledPackageSources>
    <add key="Microsoft and .NET" value="true" />
  </disabledPackageSources>

</configuration>